# This program run Hello World!

In [2]:
print("Allah Hu Akbar")

Allah Hu Akbar

In [3]:
# Simply Import csv file according to lab 1.
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='RKunEbNwKT2XFh17tkCH-ZhdL8inIK4ZAqn_LwLftyuL',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/identity/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.direct.eu-de.cloud-object-storage.appdomain.cloud')

bucket = 'datascience1-donotdelete-pr-dlty9pcrp6zg6o'
object_key = 'weather.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_2 = pd.read_csv(body)
df_2.head(10)

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='RKunEbNwKT2XFh17tkCH-ZhdL8inIK4ZAqn_LwLftyuL',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/identity/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.direct.eu-de.cloud-object-storage.appdomain.cloud')

bucket = 'datascience1-donotdelete-pr-dlty9pcrp6zg6o'
object_key = 'weather.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_1 = pd.read_csv(body)
df_1.head(10)

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80
5,0.09,2016-01-03,1,3,2016,Annette,ANN,"Annette, AK",Alaska,38,44,31,9,8.70
6,0.05,2016-01-03,1,3,2016,Bethel,BET,"Bethel, AK",Alaska,30,36,24,9,16.46
7,0.15,2016-01-03,1,3,2016,Bettles,BTT,"Bettles, AK",Alaska,22,32,9,2,3.10
8,0.60,2016-01-03,1,3,2016,Cold Bay,CDB,"Cold Bay, AK",Alaska,34,36,31,20,9.10
9,2.15,2016-01-03,1,3,2016,Cordova,CDV,"Cordova, AK",Alaska,38,43,33,9,9.76